@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


h1 {
    /* Box-level */
    height: 300px;
    width: 300px;
    border: 10px solid black;
    padding: 10px;
    margin: 20px auto 40px auto;
    outline: 5px dashed salmon;
    background-color: lightblue;
}

a { 
    /* inline-level */
    border: 10px solid black;
    padding: 2px 5px;
}