@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{     
    margin: 0;
    padding: 0;
}
.container-principal{
    color: #777; 
    margin-bottom: 130px;
    font-family: 'Comfortaa', cursive;
}

header {
    width: 100%; 
    height: 100px;	
    background-color: #004AAD; 
    position: fixed; top: 0;
    font-family: 'Comfortaa', cursive;
}

.logo img {
    margin-left: 15%;
}

/*definição das prioridades do cabeçallho*/
nav {
    position: absolute; 
    right: 30px; 
    bottom: 0px;
}

nav ul li {
    display: flex;
    float: left; 
    color: #fff; 
    width: auto; 
    margin: 0.8em; 
    font-size: 1.5em; 
    list-style: none; 
    font-weight: 100;
    font-family: 'Comfortaa', cursive;
}

nav ul li a {
    flex-direction: row;
    text-decoration: none; 
    color: #bbb;
}

nav ul li a:hover {
    color: #fdc202;
}

.interpretes {   
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;   
    padding: 36px;
    border-radius: 25px;
    font-family: 'Comfortaa', cursive;
    background-color: rgb(245, 236, 236);
    box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 25%);
}
.Foto_Valor {
    display: flex;
    width: 100%;
}

.foto {
    border: 1px;
    border-radius: 100%;
}

.profissional{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.valor{
    padding-top: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nome {
    padding: 10px 15px;
    color: black;
    font-size: 26px;
    font-weight: bold; 
}

.funcao {
    font-size: 14px;
    padding-top: 5px;
}

.cidade {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 13px;
}

.sobre_mim {
    padding-top: 10px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto {
    color: #000000;
    text-align: justify;
    margin-bottom: 8px;
    margin-top: 8px;
    font-family: 'Comfortaa', cursive;				
}

.contato {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    background-color: #34af23;
    border: 1px solid transparent;
    color: #000000;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 40px;
    width: 300px;
    font-size: 16px;
    font-weight: bold;
    -moz-transform: all 0.4s;
    -webkit-transform: all 0.4s;
    transition: all 0.4s;
    margin-top: 10px;	
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   			
}

button > p{
    padding-right: 7px;
}

button:hover {
    -moz-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(1.1);
}
