body{
  background: rgb(90, 175, 240,);
  font: normal 15px Arial;
}

header{
    
    text-align: center;
    color: white;
}
div{
    padding: 8px;
    text-align: center;
}

section{
    margin: auto;
    width: 500px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0.5px 1.5px 1.5px 2.5px  rgba(0, 0, 0, 0.314);
}
footer{
    
    height: 60px;
    width: 500px;
    display: flex;
    margin: auto;
    align-items:center;
    justify-content: center;
    margin-top: 10px;
   
}
footer >  a{
    color: white;
    padding-left: 5px;
    text-decoration: none;
    
}






