body{
  background-color: rgb(175, 132, 248);
  font-size: 15px;
  font-family: 'Comfortaa', cursive;
}

header{
    
    text-align: center;
    color: rgb(19, 11, 11);
}
div{
    padding: 8px;
    
}
section{
    margin: auto;
    height: 400;
    width: 400px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0.5px 1.5px 1.5px 2.5px  
    rgba(0, 0, 0, 0.314);
}
footer{
    
    height: 60px;
    width: 400px;
    display: flex;
    margin: auto;
    align-items:center;
    justify-content: center;
    margin-top: 10px;
   
}
footer >  a{
    color: white;
    padding-left: 5px;
    text-decoration: none;
    
}






