@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    font-family: 'Popins', sans-serif;
}
.header-container{
    position: relative;
    height: 18vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgb(26 26 29 / 7%);
    padding: 0 40px;
    
    
}
.titulo{
    position: relative;
    top: 15px;
    text-align: center;
    padding: 6px;
    border-radius: 0.15rem;
    box-shadow: 2px 1px 1.5px 1px  rgba(131, 131, 229, 0.885); 
}
h1{
    font-size: 1.5rem;
    margin-bottom: 5px;
    letter-spacing: 1px;
    
}
.social-media{
    position: relative;
    top: 10px;
    margin-top: 1rem;
    display: flex;
}
.social-media a{
    text-decoration: none;
    border-radius: 0.15rem;
    color: #1E1E2A;
    padding: 0.25rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    margin-right: 5px;
    box-shadow: 1px 1px 1.5px 1px   rgba(131, 131, 229, 0.885);
}

.social-media > a:hover{
    background-color: rgb(232, 231, 231);
}
.checkbox-container{
    position: absolute;
    top: 65px;
    right: 0;
}
#toggle{
    display: none;
}
.menu-items{
    margin-right: 50px;
}
.menu-items ul{
    list-style-type: none;
    display: flex;
}
li{
    margin: 5px;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    transition: .4s ease-in-out;
    box-shadow: 1px 2px 2px rgba(131, 131, 229, 0.885);
}
li a{
    text-decoration: none;
}
.nav-link:hover{
    background-color: rgb(232, 231, 231);
}
.contato{
    background-color: rgba(131, 131, 229, 0.885);
}
.contato:hover{
    background-color: rgba(131, 131, 229, 0.72);
}
.link-contato{
    color: white;
}
main{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    background-color: #f5f5f5;
    
}
.container-form{
    width: 60%;
    padding: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1.5px 1px rgba(131, 131, 229, 0.885);
    
}
.contato-form{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    margin-bottom: 5px;
}

footer{
    height: 4rem;
    width: 100vw;
    background-color: rgba(131, 131, 229, 0.885);
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
@media screen and (max-width: 767px) {
    
.checkbox-container{
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox{
    height: 100px;
    width: 60px;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}
.checkbox .trace{
    width: 35px;
    height: 2px;
    background-color: rgba(131, 131, 229, 0.885);
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1){
    transform: rotate(0);
}
.checkbox .trace:nth-child(2){
    top: 10px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3){
    top: 20px;
    transform: rotate(0);
}
.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}
.menu-items{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-items ul li a {
    margin: 10px 0;
    margin-bottom: 5px;
    color: #1E1E2A;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.5rem;
}

li{
    margin-bottom: 10px;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    transition: .4s ease-in-out;
    box-shadow: 1px 2px 2px rgba(131, 131, 229, 0.885);
}
li:hover{
    background-color: rgb(232, 231, 231);
}
#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
}
#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;

}
#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg); 
    top: 9px;
}
#toggle:checked + .checkbox{
    background-color: #ffff;
}
#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax #ffff;
    z-index: 1;
}
#toggle:checked ~ .menu-items{
    visibility: visible;
    opacity: 1;
    }
}
@media screen and (max-width: 590px){
    .header-container{
        height: 19vh;
        padding: 0 30px;
    }
    .titulo{
        padding: 2px;
    }
    .titulo > h1{
        font-size: 0.75rem;
    }
    .social-media a{
        font-size: 0.75rem;
        padding: 0.25rem .25rem; 
    }
    .checkbox{
        width: 50px;
    }
    .checkbox > .trace{
        width: 25px;
        height: 2px;
    }
    .menu-items ul li a{
        font-size: 00.75rem;
    }
    .section{
        margin: auto;
    }
    .bx{
        font-size: 10px;
    }
    .copyright{
        font-size: 0.50rem;
    }
}