@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header-container{
    height: 30vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 40px;
    position: relative;

}
h1{
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h2{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.social-media{
    
    margin-top: 1rem;
    display: flex;
}
.social-media a{
    text-decoration: none;
    border-radius: 0.25rem;
    color: #1E1E2A;
    padding: 0.25rem 1rem;
    border:  1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    margin-right: 5px;
}

a:hover{
    background-color: white;
}
.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox{
    height: 100px;
    width: 60px;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}
.checkbox .trace{
    width: 35px;
    height: 2px;
    background-color: #1E1E2A;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1){
    top: 30px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2){
    top: 40px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3){
    top: 50px;
    transform: rotate(0);
}
#toggle{
    display: none;
}
.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}
.menu-items{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul{
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0;
    margin-bottom: 5px;
    color: #1E1E2A;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.5rem;
}
#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;

}
#toggle:checked + .checkbox .trace:nth-child(3){
   transform: rotate(-45deg); 
   top: 48px;
}

#toggle:checked + .checkbox{
    background-color: #ffff;
}
#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax #ffff;
    z-index: 1;
}
#toggle:checked ~ .menu-items{
    visibility: visible;
    opacity: 1;
}

main{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    
}
section{
    width: 80%;
    padding: 6px;
    margin: 5px;
    margin-bottom: 2rem;
    border-radius: 6px;
    background-color: rgb(238, 235, 235);
}
p{
    margin-bottom: 15px;
}
.container-form{
    width: 60%;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 4px 5px rgba(131, 131, 229, 0.885);
    
}
.contato-form{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 1px solid black;
}
input{
    width: 100%;
    margin-bottom: 5px;
}
@media screen and (max-width: 460px){
    .header-container{
        padding: 0 30px;
    }
    .header-container > h1, h2{
        font-size: 0.75rem;
    }
    .social-media a{
        font-size: 0.75rem;
        padding: 0.25rem .25rem; 
    }
    .checkbox{
        top: 10px;
        width: 50px;
    }
    .checkbox > .trace{
        width: 25px;
        height: 1px;
    }
     .checkbox .trace:nth-child(2){
        top: 36;
    }
}